$font-family-base: 'Open Sans', sans-serif;

$primary: rgb(153, 153, 240);
$secundary: rgb(193, 176, 176);
$success: rgb(119, 237, 119);
$danger: rgb(231, 120, 120);
$warning: rgb(251, 251, 91);
$info: rgb(249, 243, 243);
$black: rgb(44, 42, 42);
